/* stylesdata.css */

/* Style de base pour la navbar */
.navbar {
    background-color: #333;
    overflow: hidden;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 2px -2px gray;
}

/* Liens de la navbar */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
}

/* Ajout d'un effet au survol des liens */
.navbar a:hover {
    background-color: #575757;
}

/* Responsivité : faire en sorte que la navbar s'ajuste sur mobile */
@media screen and (max-width: 768px) {
    .navbar a {
        float: none;
        width: 100%;
        text-align: left;
        padding: 12px 20px;
        font-size: 16px;
    }
}
