<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche d'équipe de hockey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesdata.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    {% include 'navbar.html' %}
    
    <div class="container">
        <h1>Rechercher une équipe de hockey</h1>
        
        <!-- Ajout de la zone de message -->
        <div id="message" class="message"></div>
        <form id="searchForm" class="search-form">
            <label for="teamName">Nom de l'équipe :</label>
            <input type="text" id="teamName" name="teamName" required>
            <div class="button-group">
                <button type="submit" class="btn btn-primary">Rechercher</button>
                <button type="button" id="showAll" class="btn btn-secondary">Afficher toutes les équipes</button>
            </div>
            <div class="button-group">
                <label for="fileFormat">Format du fichier :</label>
                <select id="fileFormat" class="select-format">
                    <option value="csv">CSV</option>
                    <option value="xlsx">Excel</option>
                    <option value="pdf">PDF</option>
                </select>
                <button type="button" id="downloadFile" class="btn btn-download">Télécharger</button>
            </div>                      
        </form>

        <div id="results" class="results-container">
            <!-- Les résultats seront affichés ici -->
        </div>
        <div id="pagination" class="pagination">
            <!-- Les contrôles de pagination seront ajoutés ici -->
        </div>
    </div>
</body>
</html>